html {
    font-family: 'Buenard';
    color: aliceblue;
}

body {
    background-color: black;
    margin: auto;
}

header {
    border-bottom: 1px solid pink;
    color: palegoldenrod;

}

header .top {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

header .logo {
    font-size: 1.6rem;
    color: palegoldenrod;
    font-weight: bold;
    font-family: 'Paprika';
    flex: auto;
}

header .nav {
    display: block;
}

header .nav ul {
    display: flex;
    list-style: none;
    padding: 10px;

}

.nav a {
    color: palegoldenrod;
    text-decoration: none;
    padding: 0.9rem;
    font-size: 1.1rem;
}

.main {
    position: relative;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.text-container {
    color: aqua;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#projects {
    margin: auto;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
}

.passWorks {
    display: -ms-inline-grid;
    justify-content: space-evenly;
}

#skills {
    margin: auto;
    padding: 2rem;
}

.skill-container {
    list-style: circle;
    display: flex;
    justify-content: space-evenly;

}

.known {
    color: yellow;
}

.upcoming {
    color: cornsilk;
    
}

footer {
    color: violet;
    list-style: none;
    border-top: 2px solid pink;
}


.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    font-size: 1.7rem;
    display: inline-block;
    cursor: pointer;
    color: plum;
    border: .12em solid currentColor;
    padding: .4em .2em;
    text-shadow: 0 0 0.5em lightgreen;
    box-shadow: 0 0 0.4em white;
    width: 20%;
    border-radius: 20px;
    background-color: black;
}

button::before {
    opacity: 1;
}

button:hover {
    opacity: 1;
}

.pastworks {
    display: flex;
    justify-content: space-evenly;
    flex: auto;

}

#about {
  display: flex;
  justify-content: center;
  margin: 10px;  
}

.instagram, .twitter, .facebook {
    width: 70px;
    height: 70px;
}

.instagram .twitter, .facebook li {
    padding: .2rem;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5em;
}

p {
    font-size: 20px;
}

.end {
    text-align: center;
}