html {
    font-family: 'Buenard';
}

body {
    background-color: slateblue;
    margin: auto;
}

header {
    background-color: azure;
    color: pink;

}

header .top {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

header .logo {
    font-size: 1.6rem;
    color: crimson;
    font-weight: bold;
    font-family: 'Paprika';
    flex: auto;
}

header .nav {
    display: block;
}

header .nav ul {
    display: flex;
    list-style: none;
    padding: 10px;

}

.nav a {
    color: palegoldenrod;
    text-decoration: none;
    padding: 0.9rem;
    font-size: 1.1rem;
}

.main {
    position: relative;
    padding: 5px;
}

#about {
    color: antiquewhite;
}


.container {
    pad: 3rem;
}

.text-container {
    background-color: deeppink;
    color: aqua;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: underline;
}

#projects {
    margin: auto;
    text-align: center;
    background-color: bisque;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.passWorks {
    display: flex;
    border: 5px solid red;
    border-radius: 10px;
}

#skills {
    margin: auto;
    padding: 2rem;
}

.skill-container {
    list-style: circle;
    display: flex;
    justify-content: space-evenly;

}

.known {
    color: yellow;
}

.upcoming {
    color: cornsilk;
    
}

footer {
    color: violet;
    list-style: none;
}

.end {
    display: flex;
    justify-content: flex-start;
}

.social {
    display: flex;
    justify-content: flex-end;
}

button {
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    color: rgb(118, 218, 255);
    border: .12em solid currentColor;
    padding: .4em .2em;
    text-shadow: 0 0 0.5em blueviolet;
    box-shadow: 0 0 0.4em blue;
}

button::before {
    opacity: 1;
}

button::hover {
    opacity: 1;
}

.pastworks {
    display: flex;
    justify-content: space-evenly;
    flex: auto;

}